// variables.scss

// Cores
$primary-color: #2563eb;
$secondary-color: #1e293b;
$background-color: #0b0a0c;
$text-color: #ffffff;

// Fontes
$font-main: 'Arial', sans-serif;

// Espaçamentos
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// Bordas
$border-radius: 8px;